body {
  padding: 100px 250px;
  background-color: #edf2f9;
}
.filter {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: right;
  background-size: 1000%;
  padding: 40px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
button {
  border-radius: 100px;
  border-color: transparent;
  font-weight: bold;
  background-color: #4b70e2;
  color: white;
  padding: 10px 20px;
}
button:hover {
  scale: 1.2;
}
.output,
.option_resuilt {
  background-color: #d1e7dd;
  margin: 20px 0;
  border-radius: 10px;
}
.output p,
.option p {
  margin: 0 20px;
}
.output .output_content i,
.option i {
  color: #ffc83d;
}
.option span {
  margin-right: 10px;
  background-color: #0078d7;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border: 2px solid black;
}
.option .accordion-header button:focus {
  color: #0d6efd;
}

.option .option_content p {
  font-weight: bold;
}

.option .option_input input {
  width: 45%;
  margin-right: 30px;
  margin-bottom: 10px;
}
